* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url("../giphy.webp");
    background-size: 100%;
    color: white;
    margin: 0;
    padding: 0;
}


.header {
    color: #FFFFFF;
    padding: 24px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

h1, h2, h3 {
    font-size: 1.3em;
    color: #f0f0f0;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 16px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 12px rgb(255, 0, 234);
}

.container h3 {
    text-align: center;
}

.button{
    padding: 10px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 12px rgb(255, 0, 234);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.footer {
    padding: 10px;

    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.footer-box {
    font-size: 18px;
    font-weight: bold;
}
